<div class="login-container">
    <div class="block guestorder-form">
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo __('Check order status') ?></strong>
        </div>
        <div class="block-content">
            <form class="form form-guestorder"
                  action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
                  method="post"
                  id="guestorder-form"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset guestorder" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    <div class="field order_id required">
                        <label class="label" for="order_id"><span><?php /* @escapeNotVerified */ echo __('Order Id') ?></span></label>
                        <div class="control">
                            <input name="order_id" value="" id="order_id" type="text" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Order Id') ?>" data-validate="{required:true}">
                        </div>
                    </div>
                    <div class="field email required">
                        <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                        <div class="control">
                            <input name="email" value="" id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary"><button type="submit" class="action guestorder primary" name="send" id="send"><span><?php /* @escapeNotVerified */ echo __('Search Your Order') ?></span></button></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>