<div class="login-container">
	<div class="block guestorder-summary">
	    <div class="block-title show-hide">
	        <strong><?php /* @escapeNotVerified */ echo __('Order Summary in Json Format') ?></strong>
	    </div>

	    <?php echo $this->getOrderSummary(); ?>
		
		<div class="actions-toolbar">
			<div class="secondary">
				<a class="action test" href="<?php /* @escapeNotVerified */ echo $block->getBackUrl() ?>">
					<span><?php /* @escapeNotVerified */ echo __('Back to Order Search') ?></span>
				</a>
			</div>
		</div>
	</div>
</div>